@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background: #a77afe;
}

.clip-part{
  clip-path: polygon(50% 0, 100% 35%, 100% 100%, 0 100%, 0 35%);
}

.tab{
  clip-path: polygon(10% 0, 90% 0, 100% 13%, 100% 48%, 50% 88%, 0 48%, 0 11%);
}